{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers/Trigger173097332?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/b1ffc72a-02dd-4be3-a556-1b193188bce4?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger173097332",
        "recordId": 960366,
        "state": "Creating",
        "created": "2021-01-15T16:47:48.39Z",
        "changed": "2021-01-15T16:47:48.39Z",
        "type": "Trigger",
        "name": "Trigger173097332",
        "operationId": "b1ffc72a-02dd-4be3-a556-1b193188bce4",
        "artifactId": "A8769D1B-2580-4548-A897-3C28F1E6943D"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/b1ffc72a-02dd-4be3-a556-1b193188bce4?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/b1ffc72a-02dd-4be3-a556-1b193188bce4?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/b1ffc72a-02dd-4be3-a556-1b193188bce4?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger173097332",
        "name": "Trigger173097332",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "c907f5a0-0000-0800-0000-6001c7380000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1894731864"
  }
}