{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers/Trigger379856319?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/40b46eff-7599-4c91-b4c2-eb3b8b47f2fb?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger379856319",
        "recordId": 960312,
        "state": "Creating",
        "created": "2021-01-15T16:24:31.6Z",
        "changed": "2021-01-15T16:24:31.6Z",
        "type": "Trigger",
        "name": "Trigger379856319",
        "operationId": "40b46eff-7599-4c91-b4c2-eb3b8b47f2fb",
        "artifactId": "26873EE6-CB89-4EFD-9142-B6B1DC1841D1"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/40b46eff-7599-4c91-b4c2-eb3b8b47f2fb?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/40b46eff-7599-4c91-b4c2-eb3b8b47f2fb?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/40b46eff-7599-4c91-b4c2-eb3b8b47f2fb?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger379856319",
        "name": "Trigger379856319",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "c507cf89-0000-0800-0000-6001c1c00000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/af955c26-6359-422d-8403-440d3462969e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "735038841"
  }
}