{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebooks/Notebook1243261434?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Notebook1243261434",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3441693a-ed5e-4b09-a58e-0b69b2da6f79?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1243261434",
        "recordId": 975721,
        "state": "Creating",
        "created": "2021-01-19T19:26:41.0833333Z",
        "changed": "2021-01-19T19:26:41.0833333Z",
        "type": "Notebook",
        "name": "Notebook1243261434",
        "operationId": "3441693a-ed5e-4b09-a58e-0b69b2da6f79",
        "artifactId": "d11a71f7-65ae-4bf8-969f-cabff243e9ab"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3441693a-ed5e-4b09-a58e-0b69b2da6f79?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3441693a-ed5e-4b09-a58e-0b69b2da6f79?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3441693a-ed5e-4b09-a58e-0b69b2da6f79?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1243261434",
        "name": "Notebook1243261434",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": {
              "name": "Python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0
          },
          "cells": [],
          "folder": null
        },
        "etag": "0700ea71-0000-0800-0000-600732720000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebooks/Notebook1243261434/rename?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "newName": "Notebook922591371"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/64dbf589-0e02-4113-92ba-33bfcad28432?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1243261434",
        "recordId": 975721,
        "state": "Renaming",
        "created": "2021-01-19T19:26:41.0833333Z",
        "changed": "2021-01-19T19:26:42.43Z",
        "type": "Notebook",
        "name": "Notebook1243261434",
        "operationId": "64dbf589-0e02-4113-92ba-33bfcad28432",
        "artifactId": "d11a71f7-65ae-4bf8-969f-cabff243e9ab"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/64dbf589-0e02-4113-92ba-33bfcad28432?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/64dbf589-0e02-4113-92ba-33bfcad28432?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/1e953508-4019-440a-96f2-21a0f2cca9bd?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1475206482"
  }
}