{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebooks/Notebook1649518939?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Notebook1649518939",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3f719e36-985d-4152-91bf-5ed3f5fd9c5d?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1649518939",
        "recordId": 960352,
        "state": "Creating",
        "created": "2021-01-15T16:44:43.2966667Z",
        "changed": "2021-01-15T16:44:43.2966667Z",
        "type": "Notebook",
        "name": "Notebook1649518939",
        "operationId": "3f719e36-985d-4152-91bf-5ed3f5fd9c5d",
        "artifactId": "df35a1d8-c4ea-49d4-a277-b5288c096eb9"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3f719e36-985d-4152-91bf-5ed3f5fd9c5d?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3f719e36-985d-4152-91bf-5ed3f5fd9c5d?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/3f719e36-985d-4152-91bf-5ed3f5fd9c5d?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1649518939",
        "name": "Notebook1649518939",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": {
              "name": "Python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0
          },
          "cells": [],
          "folder": null
        },
        "etag": "c907c316-0000-0800-0000-6001c67e0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/01b27150-ac38-4ba2-8bda-3f0b14c6f205?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "111152313"
  }
}