{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roles?api-version=2020-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
            "name": "Workspace Admin",
            "isBuiltIn": true
          },
          {
            "id": "c3a6d2f1-a26f-4810-9b0f-591308d5cbf1",
            "name": "Apache Spark Admin",
            "isBuiltIn": true
          },
          {
            "id": "7af0c69a-a548-47d6-aea3-d00e69bd83aa",
            "name": "Sql Admin",
            "isBuiltIn": true
          },
          {
            "id": "24fa9e0a-d130-4536-9f92-8b976b16986b",
            "name": "Scope Admin",
            "isBuiltIn": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments?api-version=2020-02-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "roleId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "f814a76f-6d24-8399-39d5-bee5d60b5331"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78-f814a76f-6d24-8399-39d5-bee5d60b5331",
        "roleId": "6e4bf58a-b8e1-4cc3-bbf9-d73143322b78",
        "principalId": "f814a76f-6d24-8399-39d5-bee5d60b5331"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments/6e4bf58a-b8e1-4cc3-bbf9-d73143322b78-f814a76f-6d24-8399-39d5-bee5d60b5331?api-version=2020-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/rbac/roleAssignments/6e4bf58a-b8e1-4cc3-bbf9-d73143322b78-f814a76f-6d24-8399-39d5-bee5d60b5331?api-version=2020-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1319375771"
  }
}