{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow5991?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/aed7b883-6b7c-45a7-97d2-7bf93b8e8cbf?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5991",
        "recordId": 910291,
        "state": "Creating",
        "created": "2021-01-04T21:04:57.89Z",
        "changed": "2021-01-04T21:04:57.89Z",
        "type": "DataFlow",
        "name": "DataFlow5991",
        "operationId": "aed7b883-6b7c-45a7-97d2-7bf93b8e8cbf",
        "artifactId": "791D96EE-3742-4E9A-B4A0-D3A062E2FD9E"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/aed7b883-6b7c-45a7-97d2-7bf93b8e8cbf?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/aed7b883-6b7c-45a7-97d2-7bf93b8e8cbf?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/aed7b883-6b7c-45a7-97d2-7bf93b8e8cbf?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5991",
        "name": "DataFlow5991",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "dd004b9b-0000-0800-0000-5ff382fe0000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow1630901926",
            "name": "DataFlow1630901926",
            "type": "Microsoft.Synapse/workspaces/dataflows",
            "etag": "f501fdf9-0000-0800-0000-5fd257b90000",
            "properties": {
              "type": null
            }
          },
          {
            "id": "/subscriptio[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhAB9UgAAAAD8BA%3D%3D%23RT%3A1%23TRC%3A50%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhAD7WwAAAAD8BA%3D%3D%23RT%3A2%23TRC%3A100%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBod[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/51746a40-3f0b-4ba8-b702-9d648ffcf0d5?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1176145790"
  }
}