{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/pipelines/Pipeline1032759354?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/2d8cbee8-cdb5-48f2-9c3a-23ce3d21eef2?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/pipelines/Pipeline1032759354",
        "recordId": 975727,
        "state": "Creating",
        "created": "2021-01-19T19:28:03.9166667Z",
        "changed": "2021-01-19T19:28:03.9166667Z",
        "type": "Pipeline",
        "name": "Pipeline1032759354",
        "operationId": "2d8cbee8-cdb5-48f2-9c3a-23ce3d21eef2",
        "artifactId": "88078535-732A-43DE-BC1E-8DA2FE4C15DD"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/2d8cbee8-cdb5-48f2-9c3a-23ce3d21eef2?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/2d8cbee8-cdb5-48f2-9c3a-23ce3d21eef2?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/2d8cbee8-cdb5-48f2-9c3a-23ce3d21eef2?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/pipelines/Pipeline1032759354",
        "name": "Pipeline1032759354",
        "type": "Microsoft.Synapse/workspaces/pipelines",
        "properties": {
          "lastPublishTime": "2021-01-19T19:28:05Z"
        },
        "etag": "07007372-0000-0800-0000-600732c50000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/pipelines/Pipeline1032759354/rename?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "newName": "Pipeline1094544425"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/ac32f965-09e0-403e-803e-8083080c3d4b?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/pipelines/Pipeline1032759354",
        "recordId": 975727,
        "state": "Renaming",
        "created": "2021-01-19T19:28:03.9166667Z",
        "changed": "2021-01-19T19:28:05.38Z",
        "type": "Pipeline",
        "name": "Pipeline1032759354",
        "operationId": "ac32f965-09e0-403e-803e-8083080c3d4b",
        "artifactId": "88078535-732A-43DE-BC1E-8DA2FE4C15DD"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/61a43890-95f7-435d-b00a-67bf7cabb345?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1528588985"
  }
}