{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow5967?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8d474b25-d0fa-45fa-b0ab-da45bdc8cdef?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5967",
        "recordId": 960268,
        "state": "Creating",
        "created": "2021-01-15T16:11:39.2666667Z",
        "changed": "2021-01-15T16:11:39.2666667Z",
        "type": "DataFlow",
        "name": "DataFlow5967",
        "operationId": "8d474b25-d0fa-45fa-b0ab-da45bdc8cdef",
        "artifactId": "C21DCEAC-458D-4629-BBA6-F806A5DE422A"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8d474b25-d0fa-45fa-b0ab-da45bdc8cdef?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8d474b25-d0fa-45fa-b0ab-da45bdc8cdef?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8d474b25-d0fa-45fa-b0ab-da45bdc8cdef?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5967",
        "name": "DataFlow5967",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "c307f94a-0000-0800-0000-6001bebf0000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/createDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$5fdb3bff-3c85-4268-94fb-8be493b5dafa?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "sessionId": "5fdb3bff-3c85-4268-94fb-8be493b5dafa"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$5fdb3bff-3c85-4268-94fb-8be493b5dafa?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$5fdb3bff-3c85-4268-94fb-8be493b5dafa?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "status": "Pending",
        "sessionId": "5fdb3bff-3c85-4268-94fb-8be493b5dafa"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/queryDataFlowDebugSessions?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "userObjectId": "00b81593-6414-45e8-98bf-c0396b2972ee",
            "startTime": "2021-01-15T16:11:44.067362\u002B00:00",
            "lastActivityTime": "2021-01-15T16:15:14.2619152\u002B00:00",
            "status": "Started",
            "dataflowName": "DebugSession-5fdb3bff-3c85-4268-94fb-8be493b5dafa",
            "sessionId": "5fdb3bff-3c85-4268-94fb-8be493b5dafa",
            "coreCount": 8,
            "nodeCount": 0,
            "computeType": "General",
            "timeToLiveInMinutes": 60
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/deleteDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sessionId": "5fdb3bff-3c85-4268-94fb-8be493b5dafa"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/2c5cc961-ab64-47cd-9c4d-a464f526df60?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1957625454"
  }
}