{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow5794?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6356ffc6-c607-42d6-b872-23cdb3c3eb62?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5794",
        "recordId": 960333,
        "state": "Creating",
        "created": "2021-01-15T16:38:45.11Z",
        "changed": "2021-01-15T16:38:45.11Z",
        "type": "DataFlow",
        "name": "DataFlow5794",
        "operationId": "6356ffc6-c607-42d6-b872-23cdb3c3eb62",
        "artifactId": "DE160102-97D4-4BB4-8B35-7596B1F42D05"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6356ffc6-c607-42d6-b872-23cdb3c3eb62?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6356ffc6-c607-42d6-b872-23cdb3c3eb62?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/6356ffc6-c607-42d6-b872-23cdb3c3eb62?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow5794",
        "name": "DataFlow5794",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "c807120c-0000-0800-0000-6001c5190000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/createDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$44984c73-b4fe-4bf7-9951-f53dd4bae062?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "sessionId": "44984c73-b4fe-4bf7-9951-f53dd4bae062"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$44984c73-b4fe-4bf7-9951-f53dd4bae062?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$44984c73-b4fe-4bf7-9951-f53dd4bae062?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "status": "Pending",
        "sessionId": "44984c73-b4fe-4bf7-9951-f53dd4bae062"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/queryDataFlowDebugSessions?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "userObjectId": "00b81593-6414-45e8-98bf-c0396b2972ee",
            "startTime": "2021-01-15T16:38:49.7371254\u002B00:00",
            "lastActivityTime": "2021-01-15T16:42:33.2793812\u002B00:00",
            "status": "Started",
            "dataflowName": "DebugSession-44984c73-b4fe-4bf7-9951-f53dd4bae062",
            "sessionId": "44984c73-b4fe-4bf7-9951-f53dd4bae062",
            "coreCount": 8,
            "nodeCount": 0,
            "computeType": "General",
            "timeToLiveInMinutes": 60
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/deleteDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sessionId": "44984c73-b4fe-4bf7-9951-f53dd4bae062"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/b67074a4-759b-4853-a550-c41cf41b89a0?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "2064405674"
  }
}