{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/triggers/Trigger540057645?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/bc980b98-4041-4fe9-8660-c6cd2aaed7db?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger540057645",
        "recordId": 957596,
        "state": "Updating",
        "created": "2021-01-14T21:53:37.8633333Z",
        "changed": "2021-01-14T21:53:42.74Z",
        "type": "Trigger",
        "name": "Trigger540057645",
        "operationId": "bc980b98-4041-4fe9-8660-c6cd2aaed7db",
        "artifactId": "D91DB8A5-73B4-4E0F-B651-AB6081B73B37"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/bc980b98-4041-4fe9-8660-c6cd2aaed7db?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/bc980b98-4041-4fe9-8660-c6cd2aaed7db?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/bc980b98-4041-4fe9-8660-c6cd2aaed7db?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/triggers/Trigger540057645",
        "name": "Trigger540057645",
        "type": "Microsoft.Synapse/workspaces/triggers",
        "properties": {
          "type": "ScheduleTrigger",
          "typeProperties": {
            "recurrence": {}
          },
          "runtimeState": "Stopped"
        },
        "etag": "08070691-0000-0800-0000-6000c4f20000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "263980695"
  }
}