{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow8797?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/106f8049-f6b5-4bfc-b66d-0a386740d6d9?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow8797",
        "recordId": 960262,
        "state": "Creating",
        "created": "2021-01-15T16:10:48.95Z",
        "changed": "2021-01-15T16:10:48.95Z",
        "type": "DataFlow",
        "name": "DataFlow8797",
        "operationId": "106f8049-f6b5-4bfc-b66d-0a386740d6d9",
        "artifactId": "FE5EE1D8-7687-4F1B-B709-683C11D1F623"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/106f8049-f6b5-4bfc-b66d-0a386740d6d9?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/106f8049-f6b5-4bfc-b66d-0a386740d6d9?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/106f8049-f6b5-4bfc-b66d-0a386740d6d9?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow8797",
        "name": "DataFlow8797",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "c307ac25-0000-0800-0000-6001be8d0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/4e7888f9-309a-4fc0-a60e-c1dcae7eaec2?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "401857342"
  }
}