{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow6173?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/d9d26d3d-66e5-4e47-bba5-82f489bfbaca?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow6173",
        "recordId": 960320,
        "state": "Creating",
        "created": "2021-01-15T16:33:38.02Z",
        "changed": "2021-01-15T16:33:38.02Z",
        "type": "DataFlow",
        "name": "DataFlow6173",
        "operationId": "d9d26d3d-66e5-4e47-bba5-82f489bfbaca",
        "artifactId": "3D4E32B6-2073-4A98-BA0F-49CE52F25C7A"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/d9d26d3d-66e5-4e47-bba5-82f489bfbaca?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/d9d26d3d-66e5-4e47-bba5-82f489bfbaca?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/d9d26d3d-66e5-4e47-bba5-82f489bfbaca?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow6173",
        "name": "DataFlow6173",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "c707b320-0000-0800-0000-6001c3e20000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/0b68701d-86b4-42b6-933c-752eba29d1fe?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "519993334"
  }
}