{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow2255?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/21e64718-b7fb-4acf-ba82-2e83e8dd3bcc?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow2255",
        "recordId": 957642,
        "state": "Creating",
        "created": "2021-01-14T22:14:05.7Z",
        "changed": "2021-01-14T22:14:05.7Z",
        "type": "DataFlow",
        "name": "DataFlow2255",
        "operationId": "21e64718-b7fb-4acf-ba82-2e83e8dd3bcc",
        "artifactId": "C72110B0-550D-47D8-8BAF-13AC0030FA05"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/21e64718-b7fb-4acf-ba82-2e83e8dd3bcc?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/21e64718-b7fb-4acf-ba82-2e83e8dd3bcc?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/21e64718-b7fb-4acf-ba82-2e83e8dd3bcc?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow2255",
        "name": "DataFlow2255",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "06079489-0000-0800-0000-6000c2310000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/createDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$ae054070-3ce8-4160-a693-f6a25b61efad?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "sessionId": "ae054070-3ce8-4160-a693-f6a25b61efad"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$ae054070-3ce8-4160-a693-f6a25b61efad?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$ae054070-3ce8-4160-a693-f6a25b61efad?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "status": "Pending",
        "sessionId": "ae054070-3ce8-4160-a693-f6a25b61efad"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/queryDataFlowDebugSessions?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "userObjectId": "00b81593-6414-45e8-98bf-c0396b2972ee",
            "startTime": "2021-01-14T22:14:10.3886711\u002B00:00",
            "lastActivityTime": "2021-01-14T22:17:23.483338\u002B00:00",
            "status": "Started",
            "dataflowName": "DebugSession-ae054070-3ce8-4160-a693-f6a25b61efad",
            "sessionId": "ae054070-3ce8-4160-a693-f6a25b61efad",
            "coreCount": 8,
            "nodeCount": 0,
            "computeType": "General",
            "timeToLiveInMinutes": 60
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/deleteDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sessionId": "ae054070-3ce8-4160-a693-f6a25b61efad"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/e511b19d-30c9-4bd7-8ced-fa25e4e3b661?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1187081852"
  }
}