{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/dataflows/DataFlow4612?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/7ff84608-e32c-4d64-a895-0da1caaa93ca?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow4612",
        "recordId": 938919,
        "state": "Creating",
        "created": "2021-01-11T20:50:33.3133333Z",
        "changed": "2021-01-11T20:50:33.3133333Z",
        "type": "DataFlow",
        "name": "DataFlow4612",
        "operationId": "7ff84608-e32c-4d64-a895-0da1caaa93ca",
        "artifactId": "411E143F-8145-47D5-AB48-A3552DA0FD40"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/7ff84608-e32c-4d64-a895-0da1caaa93ca?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/7ff84608-e32c-4d64-a895-0da1caaa93ca?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/7ff84608-e32c-4d64-a895-0da1caaa93ca?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/dataflows/DataFlow4612",
        "name": "DataFlow4612",
        "type": "Microsoft.Synapse/workspaces/dataflows",
        "properties": {
          "type": null
        },
        "etag": "f3035ebd-0000-0800-0000-5ffcba1d0000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/createDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$41dbd04d-91bd-4673-a288-08e25287d78c?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "sessionId": "41dbd04d-91bd-4673-a288-08e25287d78c"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$41dbd04d-91bd-4673-a288-08e25287d78c?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/dfCreateSession$$41dbd04d-91bd-4673-a288-08e25287d78c?api-version=2019-06-01-preview"
      },
      "ResponseBody": {
        "status": "Pending",
        "sessionId": "41dbd04d-91bd-4673-a288-08e25287d78c"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/queryDataFlowDebugSessions?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "userObjectId": "00b81593-6414-45e8-98bf-c0396b2972ee",
            "startTime": "2021-01-11T20:50:38.0398349\u002B00:00",
            "lastActivityTime": "2021-01-11T20:54:10.7230635\u002B00:00",
            "status": "Started",
            "dataflowName": "DebugSession-41dbd04d-91bd-4673-a288-08e25287d78c",
            "sessionId": "41dbd04d-91bd-4673-a288-08e25287d78c",
            "coreCount": 8,
            "nodeCount": 0,
            "computeType": "General",
            "timeToLiveInMinutes": 60
          }
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/deleteDataFlowDebugSession?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sessionId": "41dbd04d-91bd-4673-a288-08e25287d78c"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/5f859e53-117f-4abd-b371-1d8a8bc7055e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1425150255"
  }
}