{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices/LinkedSercive1145267969?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/c220d364-6406-4eae-84f8-60d2552e9d4a?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedServices/LinkedSercive1145267969",
        "recordId": 960349,
        "state": "Creating",
        "created": "2021-01-15T16:44:17.7033333Z",
        "changed": "2021-01-15T16:44:17.7033333Z",
        "type": "LinkedService",
        "name": "LinkedSercive1145267969",
        "operationId": "c220d364-6406-4eae-84f8-60d2552e9d4a",
        "artifactId": "27099BB2-A21F-4814-B08C-430812BF66C2"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/c220d364-6406-4eae-84f8-60d2552e9d4a?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/c220d364-6406-4eae-84f8-60d2552e9d4a?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/c220d364-6406-4eae-84f8-60d2552e9d4a?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedSercive1145267969",
        "name": "LinkedSercive1145267969",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "c9070504-0000-0800-0000-6001c6640000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/adacc207-998e-4bb3-ac69-4cfa387ac5d8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1041451643"
  }
}