{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices/LinkedService2044071969?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/31c3e551-5209-4878-b4d7-20f0a43b9acf?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedServices/LinkedService2044071969",
        "recordId": 975396,
        "state": "Creating",
        "created": "2021-01-19T17:24:33.8066667Z",
        "changed": "2021-01-19T17:24:33.8066667Z",
        "type": "LinkedService",
        "name": "LinkedService2044071969",
        "operationId": "31c3e551-5209-4878-b4d7-20f0a43b9acf",
        "artifactId": "E2E66B45-5554-482D-9B7D-A0169AB3F840"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/31c3e551-5209-4878-b4d7-20f0a43b9acf?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/31c3e551-5209-4878-b4d7-20f0a43b9acf?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/31c3e551-5209-4878-b4d7-20f0a43b9acf?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedService2044071969",
        "name": "LinkedService2044071969",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "0700d543-0000-0800-0000-600715d50000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/workspacechhamosynapse-WorkspaceDefaultSqlServer",
            "name": "workspacechhamosynapse-WorkspaceDefaultSqlServer",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "ab035c9e-0000-0800-0000-5fd14daf0000",
            "properties": {
              "typeProperties": {
                "connectionString": "Data Source=tcp:workspacechhamosynapse.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
              },
              "parameters": {
                "DBName": {
                  "type": "String"
                }
              },
              "type": "AzureSqlDW",
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              }
            }
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/workspacechhamosynapse-WorkspaceDefaultStorage",
            "name": "workspacechhamosynapse-WorkspaceDefaultStorage",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "ab03399f-0000-0800-0000-5fd14db30000",
            "properties": {
              "typeProperties": {
                "url": "https://storagechhamosynapse.dfs.core.windows.net"
              },
              "type": "AzureBlobFS",
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              }
            }
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedSe[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhABQUgAAAAD8BA%3D%3D%23RT%3A1%23TRC%3A50%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respons[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhACFWwAAAAD8BA%3D%3D%23RT%3A2%23TRC%3A100%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respon[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/78864b08-e257-47b5-8ba0-66c0cd772064?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "873689040"
  }
}