{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/batches",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-time-ms": "215"
      },
      "ResponseBody": {
        "from": 0,
        "total": 20,
        "sessions": [
          {
            "id": 122,
            "appId": null,
            "appInfo": {
              "driverLogUrl": null,
              "sparkUiUrl": null,
              "isSessionTimedOut": null
            },
            "state": "dead",
            "log": [
              "\tat org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:929)",
              "\tat org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)",
              "20/12/16 16:36:26 INFO ShutdownHookManager: Shutdown hook called",
              "20/12/16 16:36:26 INFO ShutdownHookManager: Deleting directory /tmp/spark-c64d40b2-f8d2-49c9-9d0e-0acdbe683c12",
              "20/12/16 16:36:26 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
              [...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/batches/122",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-cluster": "https://vnet-593110a0-westus2-41.westus2.cloudapp.azure.com:59434/",
        "x-ms-job-clusterrequested-on": "12/16/2020 4:34:30 PM \u002B00:00",
        "x-ms-job-ended-on": "12/16/2020 4:41:16 PM \u002B00:00",
        "x-ms-job-internal-id": "122",
        "x-ms-job-livysubmission-on": "12/16/2020 4:36:14 PM \u002B00:00",
        "x-ms-job-queued-on": "12/16/2020 4:36:13 PM \u002B00:00",
        "x-ms-job-result": "Failed",
        "x-ms-job-scheduled-on": "12/16/2020 4:34:30 PM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "ee20d9e7-6295-4240-ba3f-c3784616c565",
        "x-ms-job-submitted-on": "12/16/2020 4:34:27 PM \u002B00:00",
        "x-ms-job-type": "SparkServiceBatch",
        "x-ms-response-time-ms": "27"
      },
      "ResponseBody": {
        "id": 122,
        "appId": null,
        "appInfo": {
          "driverLogUrl": null,
          "sparkUiUrl": null,
          "isSessionTimedOut": null
        },
        "state": "dead",
        "log": [
          "\tat org.apache.spark.deploy.SparkSubmit$.main(SparkSubmit.scala:929)",
          "\tat org.apache.spark.deploy.SparkSubmit.main(SparkSubmit.scala)",
          "20/12/16 16:36:26 INFO ShutdownHookManager: Shutdown hook called",
          "20/12/16 16:36:26 INFO ShutdownHookManager: Deleting directory /tmp/spark-c64d40b2-f8d2-49c9-9d0e-0acdbe683c12",
          "20/12/16 16:36:26 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
          "20/12/16 16:36:26 INFO MetricsSystemImpl: azure-file-system metrics system stopped.",
          "20/12/16 16:36:26 INFO MetricsSystemImpl: azure-file-system metrics system shutdown complete.",
          "\nstderr: ",
          "\nYARN Diagnostics: ",
          "No YARN application is found with tag livy-batch-0-jw3b0cky in 300 seconds. This may be because 1) spark-submit fail to submit application to YARN; or 2) YARN cluster doesn\u0027t have enough resources to start the application in time. Please check Livy log and YARN log to know the details."
        ]
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/batches/144",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-clusterrequested-on": "1/1/0001 12:00:00 AM \u002B00:00",
        "x-ms-job-ended-on": "12/18/2020 5:31:37 PM \u002B00:00",
        "x-ms-job-internal-id": "144",
        "x-ms-job-livysubmission-on": "1/1/0001 12:00:00 AM \u002B00:00",
        "x-ms-job-queued-on": "1/1/0001 12:00:00 AM \u002B00:00",
        "x-ms-job-result": "Cancelled",
        "x-ms-job-scheduled-on": "1/1/0001 12:00:00 AM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "00b81593-6414-45e8-98bf-c0396b2972ee",
        "x-ms-job-submitted-on": "12/18/2020 5:31:37 PM \u002B00:00",
        "x-ms-job-type": "SparkServiceBatch",
        "x-ms-response-time-ms": "22"
      },
      "ResponseBody": {
        "id": 144,
        "appId": null,
        "appInfo": null,
        "state": "error",
        "log": null
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_SPARK_POOL_NAME": "sparkchhamosyna",
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1476926878"
  }
}