{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebooks/Notebook1423633913?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Notebook1423633913",
        "properties": {
          "metadata": {
            "language_info": {
              "name": "Python"
            }
          },
          "nbformat": 4,
          "nbformat_minor": 2,
          "cells": []
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/45ca76ae-c721-46bf-8cac-77410e4224a8?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1423633913",
        "recordId": 957669,
        "state": "Creating",
        "created": "2021-01-14T22:24:20.57Z",
        "changed": "2021-01-14T22:24:20.57Z",
        "type": "Notebook",
        "name": "Notebook1423633913",
        "operationId": "45ca76ae-c721-46bf-8cac-77410e4224a8",
        "artifactId": "040e0e8b-7124-4180-bdb3-66cc5a29a776"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/45ca76ae-c721-46bf-8cac-77410e4224a8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/45ca76ae-c721-46bf-8cac-77410e4224a8?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/45ca76ae-c721-46bf-8cac-77410e4224a8?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/notebooks/Notebook1423633913",
        "name": "Notebook1423633913",
        "type": "Microsoft.Synapse/workspaces/notebooks",
        "properties": {
          "nbformat": 4,
          "nbformat_minor": 2,
          "entityState": null,
          "renameOperationDetails": null,
          "bigDataPool": null,
          "sessionProperties": null,
          "metadata": {
            "language_info": {
              "name": "Python"
            },
            "a365ComputeOptions": null,
            "sessionKeepAliveTimeout": 0
          },
          "cells": [],
          "folder": null
        },
        "etag": "0807e44b-0000-0800-0000-6000c4970000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/notebookOperationResults/a6e83f86-0edc-4118-b690-36f35237db07?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1390299002"
  }
}