{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/workspacechhamosynapse-WorkspaceDefaultSqlServer",
            "name": "workspacechhamosynapse-WorkspaceDefaultSqlServer",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "ab035c9e-0000-0800-0000-5fd14daf0000",
            "properties": {
              "typeProperties": {
                "connectionString": "Data Source=tcp:workspacechhamosynapse.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
              },
              "parameters": {
                "DBName": {
                  "type": "String"
                }
              },
              "type": "AzureSqlDW",
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              }
            }
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/workspacechhamosynapse-WorkspaceDefaultStorage",
            "name": "workspacechhamosynapse-WorkspaceDefaultStorage",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "ab03399f-0000-0800-0000-5fd14db30000",
            "properties": {
              "typeProperties": {
                "url": "https://storagechhamosynapse.dfs.core.windows.net"
              },
              "type": "AzureBlobFS",
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              }
            }
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedSercive1927657153",
            "name": "LinkedSercive1927657153",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "f501bdff-0000-0800-0000-5fd257ee0000",
            "properties": {
              "type": "AzureDataLakeStore",
              "typeProperties": {
                "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
              }
            }
          },
          {
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedSercive48615674",
            "name": "LinkedSercive48615674",
            "type": "Microsoft.Synapse/workspaces/linkedservices",
            "etag": "f6013401-0000-0800-0000-5fd257fb0000",
            "properties": {
   [...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices/workspacechhamosynapse-WorkspaceDefaultSqlServer?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/workspacechhamosynapse-WorkspaceDefaultSqlServer",
        "name": "workspacechhamosynapse-WorkspaceDefaultSqlServer",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "typeProperties": {
            "connectionString": "Data Source=tcp:workspacechhamosynapse.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
          },
          "parameters": {
            "DBName": {
              "type": "String"
            }
          },
          "type": "AzureSqlDW",
          "connectVia": {
            "referenceName": "AutoResolveIntegrationRuntime",
            "type": "IntegrationRuntimeReference"
          }
        },
        "etag": "ab035c9e-0000-0800-0000-5fd14daf0000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices/workspacechhamosynapse-WorkspaceDefaultStorage?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/workspacechhamosynapse-WorkspaceDefaultStorage",
        "name": "workspacechhamosynapse-WorkspaceDefaultStorage",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "typeProperties": {
            "url": "https://storagechhamosynapse.dfs.core.windows.net"
          },
          "type": "AzureBlobFS",
          "connectVia": {
            "referenceName": "AutoResolveIntegrationRuntime",
            "type": "IntegrationRuntimeReference"
          }
        },
        "etag": "ab03399f-0000-0800-0000-5fd14db30000"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices/LinkedSercive1927657153?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedSercive1927657153",
        "name": "LinkedSercive1927657153",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "f501bdff-0000-0800-0000-5fd257ee0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhABQUgAAAAD8BA%3D%3D%23RT%3A1%23TRC%3A50%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respons[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices?api-version=2019-06-01-preview\u0026%24skipToken=%2BRID%3A~Sl8ZAKxwhACFWwAAAAD8BA%3D%3D%23RT%3A2%23TRC%3A100%23ISV%3A2%23IEO%3A65551%23QCF%3A1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "Respon[...]
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/linkedservices/LinkedSercive1073730247?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/linkedservices/LinkedSercive1073730247",
        "name": "LinkedSercive1073730247",
        "type": "Microsoft.Synapse/workspaces/linkedservices",
        "properties": {
          "type": "AzureDataLakeStore",
          "typeProperties": {
            "dataLakeStoreUri": "adl://test.azuredatalakestore.net/"
          }
        },
        "etag": "0207786f-0000-0800-0000-6000bcaf0000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1197551988"
  }
}