{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/datasets/Dataset1010801108?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/4658b867-99cf-44a4-b997-415466429a2e?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1010801108",
        "recordId": 960343,
        "state": "Creating",
        "created": "2021-01-15T16:42:52.01Z",
        "changed": "2021-01-15T16:42:52.01Z",
        "type": "Dataset",
        "name": "Dataset1010801108",
        "operationId": "4658b867-99cf-44a4-b997-415466429a2e",
        "artifactId": "4AAD68BB-E607-41B0-A880-1A48CA5205A6"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/4658b867-99cf-44a4-b997-415466429a2e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/4658b867-99cf-44a4-b997-415466429a2e?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/4658b867-99cf-44a4-b997-415466429a2e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1010801108",
        "name": "Dataset1010801108",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        },
        "etag": "c807cfc4-0000-0800-0000-6001c60f0000"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/3b2cdebd-3a7d-4316-8ad9-b890fea488b6?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "912824769"
  }
}