{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/datasets/Dataset1596262510?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8e2e839c-c4ad-42f3-9536-e85a3bc498c3?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1596262510",
        "recordId": 960294,
        "state": "Creating",
        "created": "2021-01-15T16:19:55.99Z",
        "changed": "2021-01-15T16:19:55.99Z",
        "type": "Dataset",
        "name": "Dataset1596262510",
        "operationId": "8e2e839c-c4ad-42f3-9536-e85a3bc498c3",
        "artifactId": "379878B1-92B2-478A-92E2-4705DF734C49"
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8e2e839c-c4ad-42f3-9536-e85a3bc498c3?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8e2e839c-c4ad-42f3-9536-e85a3bc498c3?api-version=2019-06-01-preview",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/operationResults/8e2e839c-c4ad-42f3-9536-e85a3bc498c3?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.Synapse/workspaces/workspacechhamosynapse/datasets/Dataset1596262510",
        "name": "Dataset1596262510",
        "type": "Microsoft.Synapse/workspaces/datasets",
        "properties": {
          "type": "Dataset",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "workspacechhamosynapse-WorkspaceDefaultStorage"
          }
        },
        "etag": "c4079ac1-0000-0800-0000-6001c0b10000"
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "1766977407"
  }
}