{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/bigDataPools?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "creationDate": "2020-12-09T22:25:25.05Z",
              "sparkVersion": "2.4",
              "nodeCount": 3,
              "nodeSize": "Small",
              "nodeSizeFamily": "MemoryOptimized",
              "autoScale": {
                "enabled": true,
                "minNodeCount": 3,
                "maxNodeCount": 40
              },
              "autoPause": {
                "enabled": true,
                "delayInMinutes": 15
              },
              "isComputeIsolationEnabled": false,
              "sessionLevelPackagesEnabled": false,
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-chhamosynapse/providers/Microsoft.ProjectArcadia/workspaces/workspacechhamosynapse/sparkComputes/sparkchhamosyna",
            "name": "sparkchhamosyna",
            "type": "Microsoft.ProjectArcadia/workspaces/sparkComputes",
            "location": "westus2",
            "tags": {}
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacechhamosynapse.dev.azuresynapse.net",
    "RandomSeed": "323377183"
  }
}