{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-time-ms": "67"
      },
      "ResponseBody": {
        "from": 0,
        "total": 20,
        "sessions": [
          {
            "id": 131,
            "appId": "application_1608304782207_0001",
            "appInfo": {
              "driverLogUrl": "http://52ed728fef6848fb8f5aa2dfd7763bc5004d7f88983:8042/node/containerlogs/container_1608304782207_0001_01_000001/trusted-service-user",
              "sparkUiUrl": "http://52ed728fef6848fb8f5aa2dfd7763bc50013ce67236:8088/proxy/application_1608304782207_0001/",
              "isSessionTimedOut": "false"
            },
            "state": "killed",
            "log": [
              "\t final status: UNDEFINED",
              "\t tracking URL: http://52ed728fef6848fb8f5aa2dfd7763bc50013ce67236:8088/proxy/application_1608304782207_0001/",
              "\t user: trusted-service-user",
              "20/12/18 15:20:08 INFO ShutdownHookManager: Shutdown hook called",
              "20/12/18 15:20:08 INFO ShutdownHookManager: Deleting directory /tmp/spark-db682fef-d3dc-47c0-a92f-4c0454669b7c",
              "20/12/18 15:20:08 INFO ShutdownHookManager: Deleting [...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/sessions/131",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-cluster": "https://vnet-593110a0-westus2-41.westus2.cloudapp.azure.com:59433/",
        "x-ms-job-clusterrequested-on": "12/18/2020 3:18:41 PM \u002B00:00",
        "x-ms-job-ended-on": "12/18/2020 3:20:54 PM \u002B00:00",
        "x-ms-job-internal-id": "131",
        "x-ms-job-livysubmission-on": "12/18/2020 3:19:58 PM \u002B00:00",
        "x-ms-job-queued-on": "12/18/2020 3:19:57 PM \u002B00:00",
        "x-ms-job-result": "Cancelled",
        "x-ms-job-scheduled-on": "12/18/2020 3:18:40 PM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "00b81593-6414-45e8-98bf-c0396b2972ee",
        "x-ms-job-submitted-on": "12/18/2020 3:18:38 PM \u002B00:00",
        "x-ms-job-type": "SparkServiceSession",
        "x-ms-response-time-ms": "26"
      },
      "ResponseBody": {
        "id": 131,
        "appId": "application_1608304782207_0001",
        "appInfo": {
          "driverLogUrl": "http://52ed728fef6848fb8f5aa2dfd7763bc5004d7f88983:8042/node/containerlogs/container_1608304782207_0001_01_000001/trusted-service-user",
          "sparkUiUrl": "http://52ed728fef6848fb8f5aa2dfd7763bc50013ce67236:8088/proxy/application_1608304782207_0001/",
          "isSessionTimedOut": "false"
        },
        "state": "killed",
        "log": [
          "\t final status: UNDEFINED",
          "\t tracking URL: http://52ed728fef6848fb8f5aa2dfd7763bc50013ce67236:8088/proxy/application_1608304782207_0001/",
          "\t user: trusted-service-user",
          "20/12/18 15:20:08 INFO ShutdownHookManager: Shutdown hook called",
          "20/12/18 15:20:08 INFO ShutdownHookManager: Deleting directory /tmp/spark-db682fef-d3dc-47c0-a92f-4c0454669b7c",
          "20/12/18 15:20:08 INFO ShutdownHookManager: Deleting directory /tmp/spark-d054cadc-e69c-44b9-b797-398e3409db44",
          "20/12/18 15:20:08 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
          "20/12/18 15:20:08 INFO MetricsSystemImpl: azure-file-system metrics system stopped.",
          "20/12/18 15:20:08 INFO MetricsSystemImpl: azure-file-system metrics system shutdown complete.",
          "\nYARN Diagnostics: "
        ]
      }
    },
[...]
